html,
body {
    height: 100%;
    background-color: #1d1e21;
    color: #f6f6f6;
    font-family: 'Silkscreen', sans-serif;
    font-weight: bold;

}

body {
    display: flex;
    flex-direction: column;
}

.nav-link {
    font-size: 1rem;
    font-family: 'Silkscreen', sans-serif;
    font-weight: 600;
    color: #969696;
}

.navbar-nav .nav-link:hover {
    color: #dfdfdf;
}

.navbar-nav .nav-link.active{
    color: #dfdfdf;
}

header h1 {
    opacity: 0.7;
}

.navbar-light,
.navbar-toggler {
    color: #f6f6f6;

}


/*  */
/*  */

main {
    flex: 1 0 auto;
    
}

header {
    background: no-repeat center center;
    background-size: cover;
    color: white;
}

header h1{
    opacity: 0.7;
}

.color-overlay {
    background-color: rgba(0, 0, 0, 0.4);
    min-height: 60vh;

}

/*  */
/*  */

.container-box {
    margin-top: 40px;
    width:0 300px;
    height: 700px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: #1d1e21;
   
}

.img-box{
    background: var(--img) center;
    background-size: cover;
    flex-basis: 180px;
    position: relative;
    transition: 400ms all ease;
    filter: grayscale(100%) opacity(35%);
   
}

.img-box:nth-child(all) {
    transform: translateY(-20px);
}

.img-box:hover {
    flex-basis: 320px;
    filter: grayscale(0%) opacity(100%);
}

/*  */
/*  */

.container-serv {
    margin-top: 40px;
    width:0 300px;
    height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.service {
    margin: 20px;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
}

.box {
    height: 300px;
    color: var(--mainFont);
    border: 2px solid white;
    border-radius: 6px;
    position: relative;
}

.service h4 {
    text-transform: uppercase;
    margin: 0;
    position: absolute;
    top: 14%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

}

/* .service p {
    position: absolute;
    top: 30%;
    text-align: center;
} */

.service i {
    position: absolute;
    top: 30%;
    left: 40%;
    font-size: 6em;
}

p {
    color: #969696;
}

/*  */
/*  */

@media screen and (max-width: 768px) {
    .container-serv {
        width: 100%; 
        height: auto; 
        padding: 0 20px; 
    }

    .service {
        width: 100%; 
        margin: 10px 0; 
    }

    .box {
        height: auto; 
        text-align: center; 
        border: 1px solid white; 
        border-radius: 4px; 
    }

    .service h2,
    .service i {
        position: static; 
        transform: none; 
        text-align: center; 
        margin: 10px 0; 
    }
}

@media screen and (max-width: 480px) {
    .container-serv {
        width: 100%; 
        height: auto; 
        padding: 0 10px; 
        margin-top: 20px; 
    }

    .service {
        width: 100%; 
        margin: 10px 0;
    }

    .box {
        height: auto; 
        text-align: center; 
        border: 1px solid white; 
        border-radius: 4px;
    }

    .service h2,
    .service i {
        position: static; 
        transform: none; 
        text-align: center; 
        margin: 10px 0; 
    }
}



/*  */
/*  */

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.container-x {
    display: grid;
    place-items: center;
    margin-inline: 1.5rem;
    padding-block: 1rem;
}

.card-container {
    display: grid;
    row-gap: 3.5rem;

}

.card-article {
    position: relative;
    overflow: hidden;
}


.card-img {
    width: 328px;
    border-radius: 1.5rem;
}
.card-img2 {
    width: 350px;
    height: 370px;
    border: #f6f6f6 solid;
    border-radius: 1.5rem;
}

.card-data {
    width: 280px;
    background-color: var(--container-color);
    padding: 1.5rem 2rem;
    box-shadow: 0 8px 24px hsla(0, 0%, 0%, .15);
    border-radius: 1rem;
    position: absolute;
    bottom: -9rem;
    left: 0;
    right: 0;
    margin-inline: auto;
    opacity: 0;
    transition: opacity 1s 1s;
}

.card-description {
    display: block;
    font-size: 1.2em;
    margin-bottom: .25rem;
}

.card-title {
    font-size: var(--h2-font-size);
    font-weight: 500;
    color: var(--title-color);
    margin-bottom: .75rem;
}

.card-button {
    text-decoration: none;
    font-size: var(--small-font-size);
    font-weight: 500;
    color: var(--first-color);
    font-size: 1.2em;
}

.card-button:hover {
    text-decoration: underline;
}

.card-article:hover .card-data{
    animation: show-data 1s forwards;
    opacity: 1;
    transition: opacity .3s;
}

.card-article:hover {
    animation: remove-overflow 2s forwards;
}

.card-article:not(:hover){
    animation: show-overflow 2s forwards;
}

.card-article:not(:hover) .card-data {
    animation: remove-data 1s forwards;
}

@keyframes show-data {
    50% {
        transform: translateY(-10rem);
    }
    100% {
        transform: translateY(-7rem);
    }
}

@keyframes remove-overflow {
    to {
        overflow: initial;
    }
}

@keyframes remove-data {
    0% {
        transform: translateY(-7rem);
    }
    50% {
        transform: translateY(-10rem);
    }
    100% {
        transform: translateY(.5rem);
    }
}

@keyframes show-overflow  {
    0% {
        overflow: initial;
        pointer-events: none;
    }
    50% {
        overflow: hidden;
    }
}

/*  */
/*  */

@media screen and (min-width: 768px) {
    .card-container {
        grid-template-columns: repeat(1, 1fr);
        column-gap: 1.5rem;
    }
}

@media screen and (min-width: 1120px) {
    .container-x {
        height: 100vh;
    }

    .card-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .card-img {
        width: 348px;
    }
    .card-data {
        width: 316px;
        padding-inline: 2.5rem;
    }
}

/*  */
/*  */

.card-body {

    background-color: #1d1e21;
}

.card-body .card-text{
    color: #dfdfdf;
}

.card-body .card-title {
    color: #dfdfdf;
}
.skill{
    background: #282828;
    padding: 4px;
    box-sizing: border-box;
    border: 1px solid #efefef;
    border-radius: 2px;
}

.skill_level{
    background: #808482;
    width: 100%;
    height: 10px;
}
.skill_txt{
    font-size: 0.9em;
    text-align: right;
}


/*  */
/*  */

a{
    text-decoration: none;
    color: var(--mainFont);
}

footer {
    background-color:var(--mainBg);

}

footer a {
    color: var(--mainFont);
}

footer a:hover {
    color: #dfdfdf;
}

